.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.auto-input {
  margin-bottom: 20px;
}

.react-calendar .OOO {
  background: #000000;
  color: #ffffff;
}

.react-calendar .ACTIVE {
  background: #9ee3b4;
}

.react-calendar .IDLE {
  background: #f3e496;
}

.react-calendar .sunday {
  background: #727270;
  color: #ffffff;
}

.react-calendar__navigation .react-calendar__navigation__next2-button,
.react-calendar__navigation .react-calendar__navigation__prev2-button {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
